#country-select{
    width: 160px;
    height:30px;
}

#country-select + .select2-container .select2-selection__rendered img,.img-flag{
    width:14px;
    height:14px;
    margin-right: 5px;
    vertical-align: middle;
}

#country-select + .select2-container .select2-dropdown {
    display: none;
}

.select2-container--default .select2-selection--single {
    background-color: #ECF2FF;
    border: 1px solid #aaa;
}
